.hero h1{
   color: azure;
   text-align: center;
   font-size: 100px;
   font-weight: 900;
   padding-top: 60px;
   word-spacing: 20%;
   letter-spacing: 20px;
   font-family:'Courier New', Courier, monospace
}
.hero{
    background-image: url(../image/cow.jpg);
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    
}
*{
    /* margin: 0%; */
}
.article{
    width: 80%;
    margin: 60px auto;
    border-width: 15px;
    border-color: yellow;
    border-style: solid;
    background-color: aqua;
    padding: 60px;
    line-height: 1.5em;

}
.article h2{
    text
}